In [1]:
import pandas as pd
import numpy as np
import nltk
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.preprocessing import LabelEncoder
from sklearn.cross_validation import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
import matplotlib.pyplot as plt
import nltk, sys

%matplotlib inline

G:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv('doc.csv', encoding='latin-1')

In [3]:
def word_calc(a):
    a['word_count'] = a['JD'].apply(lambda x: len(str(x).split(" ")))

In [4]:
word_calc(df)

In [5]:
df = pd.get_dummies(df,columns=['TextioCat'])

In [6]:
def pre_proc(a):
    a['JD'] = a['JD'].apply(lambda x: " ".join(x.lower() for x in x.split()))
    a['JD'] = a['JD'].str.replace('[^\w\s]','')
    return a

In [7]:
df = df.dropna(axis=0)

In [8]:
pre_proc(df)

,CompanyName,JD,TextioScore,word_count,TextioCat_1.0,TextioCat_2.0,TextioCat_3.0,TextioCat_4.0,TextioCat_5.0,TextioCat_6.0,TextioCat_7.0
0,Abbott,job description major responsibilities externa...,27.0,247,0,0,0,1,0,0,0
1,AbbVie,job description research project opportunities...,45.0,348,0,0,0,0,1,0,0
2,Accenture,accenture technology powers our clients busine...,32.0,268,0,0,0,0,1,0,0
3,ADP,job description adp is looking for a product d...,52.0,502,0,1,0,0,0,0,0
4,Aetna,job description position summary the product s...,74.0,609,0,0,0,0,1,0,0
5,AIG,job description position description responsib...,36.0,393,0,0,1,0,0,0,0
6,Allstate Insurance,where good people build rewarding careers thin...,79.0,996,0,0,0,0,1,0,0
7,Anthem,job description your talent our vision at anth...,0.0,1189,0,0,1,0,0,0,0
8,Aramark,job description overview aramark nyse armk is ...,44.0,721,0,0,1,0,0,0,0
9,AT&T,job description job summary manages designs de...,23.0,406,0,1,0,0,0,0,0
10,BASF,what you can expect in this role you will be r...,37.0,322,0,0,0,1,0,0,0
11,Boeing,ob description boeing is the worlds largest ae...,37.0,1177,1,0,0,0,0,0,0
12,Colgate-Palmolive,job description description data scientist di...,37.0,255,0,0,0,1,0,0,0
13,Cox Communication,description summary the executive assistant pr...,37.0,477,0,0,0,1,0,0,0
14,cummins,engineering graduates bebtech or memtech in e...,37.0,412,0,1,0,0,0,0,0
15,CVS health,job description do you have the ability to see...,61.0,502,0,0,0,1,0,0,0
16,Eli Lilly and company,job description responsibilities project execu...,33.0,473,0,0,0,1,0,0,0
17,Exelon,job description description primary purpose of...,66.0,552,0,0,0,0,1,0,0
18,Express Scripts,job description position summary the sr softwa...,86.0,868,0,0,0,0,1,0,0
19,EY,job description our practice the data and anal...,63.0,717,0,0,0,0,1,0,0
20,General Motors,job description general motors israel herzelia...,75.0,260,0,0,0,1,0,0,0
21,Hershey's,job description description primary purpose of...,66.0,552,0,0,0,0,1,0,0
22,Humana,job description primary location uskylouisvill...,34.0,531,1,0,0,0,0,0,0
23,Jcpenny,ob description description data scientist dig...,37.0,255,0,0,0,1,0,0,0
24,JnJ,role overview this job exists to manage and de...,44.0,626,0,0,0,1,0,0,0
25,Kellogg,job description we are always interested in he...,75.0,637,0,0,0,0,0,1,0
26,KeyBank,job description about the job job description ...,42.0,1075,0,0,1,0,0,0,0
27,KPMG,job description roles and responsibilities man...,29.0,230,1,0,0,0,0,0,0
28,Marriott,job summary the senior area director of revenu...,23.0,502,0,1,0,0,0,0,0
29,MasterCard,job title senior data analyst hadoop python sa...,57.0,501,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1469,Random,job description level 7 job manager business ...,41.0,783,0,0,1,0,0,0,0
1470,Random,job profile job title hr business partner corp...,29.0,402,0,0,0,0,1,0,0
1471,Random,job profile job title hr business partner corp...,29.0,402,0,0,0,0,1,0,0
1472,Random,job description manager mi reporting 0000543...,38.0,567,0,0,1,0,0,0,0
1473,Random,job description level job manager taxation i...,24.0,846,0,0,0,1,0,0,0
1474,Random,role purpose overall high level summary of the...,36.0,1223,0,0,0,0,0,1,0
1475,Random,description global service delivery is a busi...,45.0,1069,0,0,1,0,0,0,0
1476,Random,business analytics business consulting role t...,10.0,1264,0,0,0,0,1,0,0
1477,Random,business analytics business consulting role t...,10.0,1264,0,0,0,0,1,0,0
1478,Random,business analytics business consulting role t...,10.0,1264,0,0,0,0,1,0,0
1479,Random,job description job code job title managermidd...,25.0,211,0,0,0,0,1,0,0
1480,Random,job description level 8 job manager finance i...,30.0,572,0,0,0,0,1,0,0
1481,Random,job title financial planning analysis and inv...,19.0,211,0,0,1,0,0,0,0
1482,Random,type of experience law graduate experience pre...,34.0,277,0,0,0,1,0,0,0
1483,Random,job description 1 job details position title m...,15.0,152,0,0,0,1,0,0,0
1484,Random,job title manager department stress testing op...,29.0,712,0,0,0,0,1,0,0
1485,Random,manager financial systems and integration cven...,45.0,379,0,0,0,0,0,1,0
1486,Random,position profile summary about ey ey is a glob...,50.0,631,1,0,0,0,0,0,0
1487,Random,position profile summary about ey ey is a glob...,50.0,631,1,0,0,0,0,0,0
1488,Random,position profile summary about ey ey is a glob...,50.0,631,1,0,0,0,0,0,0
1489,Random,job description manager finance operations 0...,43.0,1075,0,0,1,0,0,0,0
1490,Random,career opportunities position managersr manage...,23.0,328,0,0,0,0,1,0,0
1491,Random,requisition date 15th oct 2011 position title ...,27.0,322,1,0,0,0,0,0,0
1492,Random,job description job code job title chief manag...,46.0,606,0,0,0,0,1,0,0
1493,Random,job description job title chief manager hr rep...,26.0,710,1,0,0,0,0,0,0
1494,Random,job description job code job title manager ban...,25.0,258,0,0,1,0,0,0,0
1495,Random,job description job code band 3 reporting to h...,48.0,840,1,0,0,0,0,0,0
1496,Random,ratings job title team leader department mcg h...,28.0,129,0,0,0,1,0,0,0
1497,Random,about crisil ratings crisil ratings is indias ...,35.0,439,0,0,1,0,0,0,0
1498,Random,job title mgr mktg ops liquids department mar...,14.0,99,0,0,0,1,0,0,0

In [9]:
# importing Natural Language Toolkit 
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

#if true it will download all the stopwords
if False:
    nltk.download('stopwords')

#if true will create vectorizer without any stopwords
if False:
    vectorizer = TfidfVectorizer()

#if true will create vectorizer with stopwords
if True:
    stopset = set(stopwords.words("english"))
    vectorizer = TfidfVectorizer(stop_words=stopset,binary=True)

In [10]:
# Extract feature column 'Text'
X = vectorizer.fit_transform(df.JD)
# Extract target column 'Class'
y1 = df['TextioCat_1.0']

In [12]:
#Shuffle and split the dataset into the number of training and testing points
if True: 
    from sklearn.cross_validation import train_test_split
    X_train1, X_test1, y_train1, y_test1 = train_test_split(X, y1, test_size=0.20, train_size=0.80, random_state=42)

In [13]:
# Import the models from sklearn
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.learning_curve import learning_curve,validation_curve
from sklearn.cross_validation import KFold

objects = ('Multi-NB', 'DTs', 'AdaBoost', 'KNN', 'RF')

G:\Anaconda\lib\site-packages\sklearn\learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [14]:
# function to train classifier
def train_classifier(clf, X_train, y_train):    
    clf.fit(X_train, y_train)

# function to predict features 
def predict_labels(clf, features):
    return (clf.predict(features))

In [15]:
# Initialize the three models
A = MultinomialNB(alpha=1.0,fit_prior=True)
B = DecisionTreeClassifier(random_state=42)
C = AdaBoostClassifier(n_estimators=100) 
D = KNeighborsClassifier(n_neighbors=1)
E = RandomForestClassifier(n_estimators=10, max_depth=None, min_samples_split=2, random_state=0)

In [18]:
# loop to call function for each model
clf = [A,B,C,D,E]
pred_val1 = [0,0,0,0,0]

for a in range(0,5):
    train_classifier(clf[a], X_train1, y_train1)
    y_pred1 = predict_labels(clf[a],X_test1)
    pred_val1[a] = f1_score(y_test1, y_pred1,  average='binary') 
    print(pred_val1[a])

G:\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

0.0
0.6055045871559632
0.6608695652173913
0.5405405405405406
0.4225352112676056

In [19]:
# loop to call function for each model
clf = [A,B,C,D,E]
pred_val1 = [0,0,0,0,0]

for a in range(0,5):
    train_classifier(clf[a], X_train1, y_train1)
    y_pred1 = predict_labels(clf[a],X_test1)
    pred_val1[a] = accuracy_score(y_test1, y_pred1) 
    print(pred_val1[a])

0.822742474916388
0.8561872909698997
0.8695652173913043
0.8294314381270903
0.862876254180602

In [20]:
# Extract feature column 'Text'
X = vectorizer.fit_transform(df.JD)
# Extract target column 'Class'
y2 = df['TextioCat_2.0']

In [21]:
#Shuffle and split the dataset into the number of training and testing points
if True: 
    from sklearn.cross_validation import train_test_split
    X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y2, test_size=0.20, train_size=0.80, random_state=42)

In [22]:
# loop to call function for each model
clf = [A,B,C,D,E]
pred_val2 = [0,0,0,0,0]

for a in range(0,5):
    train_classifier(clf[a], X_train2, y_train2)
    y_pred2 = predict_labels(clf[a],X_test2)
    pred_val2[a] = accuracy_score(y_test2, y_pred2) 
    print(pred_val2[a])

0.882943143812709
0.842809364548495
0.8695652173913043
0.8595317725752508
0.8996655518394648

In [23]:
# Extract feature column 'Text'
X = vectorizer.fit_transform(df.JD)
# Extract target column 'Class'
y3 = df['TextioCat_3.0']

In [25]:
#Shuffle and split the dataset into the number of training and testing points
if True: 
    from sklearn.cross_validation import train_test_split
    X_train3, X_test3, y_train3, y_test3 = train_test_split(X, y3, test_size=0.20, train_size=0.80, random_state=42)

In [26]:
# loop to call function for each model
clf = [A,B,C,D,E]
pred_val3 = [0,0,0,0,0]

for a in range(0,5):
    train_classifier(clf[a], X_train3, y_train3)
    y_pred3 = predict_labels(clf[a],X_test3)
    pred_val3[a] = accuracy_score(y_test3, y_pred3) 
    print(pred_val3[a])

0.6923076923076923
0.68561872909699
0.6321070234113713
0.6622073578595318
0.7224080267558528

In [27]:
# Extract feature column 'Text'
X = vectorizer.fit_transform(df.JD)
# Extract target column 'Class'
y4 = df['TextioCat_4.0']

In [28]:
#Shuffle and split the dataset into the number of training and testing points
if True: 
    from sklearn.cross_validation import train_test_split
    X_train4, X_test4, y_train4, y_test4 = train_test_split(X, y4, test_size=0.20, train_size=0.80, random_state=42)

In [29]:
# loop to call function for each model
clf = [A,B,C,D,E]
pred_val4 = [0,0,0,0,0]

for a in range(0,5):
    train_classifier(clf[a], X_train4, y_train4)
    y_pred4 = predict_labels(clf[a],X_test4)
    pred_val4[a] = accuracy_score(y_test4, y_pred4) 
    print(pred_val4[a])

0.8193979933110368
0.7792642140468228
0.822742474916388
0.7759197324414716
0.822742474916388

In [30]:
# Extract feature column 'Text'
X = vectorizer.fit_transform(df.JD)
# Extract target column 'Class'
y5 = df['TextioCat_5.0']

In [31]:
#Shuffle and split the dataset into the number of training and testing points
if True: 
    from sklearn.cross_validation import train_test_split
    X_train5, X_test5, y_train5, y_test5 = train_test_split(X, y5, test_size=0.20, train_size=0.80, random_state=42)

In [32]:
# loop to call function for each model
clf = [A,B,C,D,E]
pred_val5 = [0,0,0,0,0]

for a in range(0,5):
    train_classifier(clf[a], X_train5, y_train5)
    y_pred5 = predict_labels(clf[a],X_test5)
    pred_val5[a] = accuracy_score(y_test5, y_pred5) 
    print(pred_val5[a])

0.7959866220735786
0.8260869565217391
0.8394648829431438
0.7692307692307693
0.8260869565217391

In [33]:
# Extract feature column 'Text'
X = vectorizer.fit_transform(df.JD)
# Extract target column 'Class'
y6 = df['TextioCat_6.0']

In [34]:
#Shuffle and split the dataset into the number of training and testing points
if True: 
    from sklearn.cross_validation import train_test_split
    X_train6, X_test6, y_train6, y_test6 = train_test_split(X, y6, test_size=0.20, train_size=0.80, random_state=42)

In [35]:
# loop to call function for each model
clf = [A,B,C,D,E]
pred_val6 = [0,0,0,0,0]

for a in range(0,5):
    train_classifier(clf[a], X_train6, y_train6)
    y_pred6 = predict_labels(clf[a],X_test6)
    pred_val6[a] = accuracy_score(y_test6, y_pred6) 
    print(pred_val6[a])

0.9866220735785953
0.9765886287625418
0.9866220735785953
0.9832775919732442
0.9899665551839465

In [36]:
# Extract feature column 'Text'
X = vectorizer.fit_transform(df.JD)
# Extract target column 'Class'
y7 = df['TextioCat_7.0']

In [57]:
#Shuffle and split the dataset into the number of training and testing points
if True: 
    from sklearn.cross_validation import train_test_split
    X_train7, X_test7, y_train7, y_test7 = train_test_split(X, y7, test_size=0.20, train_size=0.80, random_state=42)

In [51]:
# loop to call function for each model
clf = [A,B,C,D,E]
pred_val7 = [0,0,0,0,0]

for a in range(0,5):
    train_classifier(clf[a], X_train7, y_train7)
    y_pred7 = predict_labels(clf[a],X_test7)
    pred_val7[a] = accuracy_score(y_test7, y_pred7) 
    print(pred_val7[a])
    cm7 = confusion_matrix(y_test7, y_pred7)
    print(cm7)

1.0
[[299]]
0.9966555183946488
[[298   1]
 [  0   0]]
1.0
[[299]]
0.9966555183946488
[[298   1]
 [  0   0]]
1.0
[[299]]

In [53]:
df[df['TextioCat_1.0']==1].shape

(274, 11)

In [67]:
y_test7.value_counts()

0    299
Name: TextioCat_7.0, dtype: int64

In [68]:
y_test6.value_counts()

0    295
1      4
Name: TextioCat_6.0, dtype: int64

In [69]:
y_test5.value_counts()

0    238
1     61
Name: TextioCat_5.0, dtype: int64

In [70]:
y_test4.value_counts()

0    245
1     54
Name: TextioCat_4.0, dtype: int64

In [71]:
y_test3.value_counts()

0    207
1     92
Name: TextioCat_3.0, dtype: int64

In [72]:
y_test2.value_counts()

0    264
1     35
Name: TextioCat_2.0, dtype: int64

In [73]:
y_test1.value_counts()

0    246
1     53
Name: TextioCat_1.0, dtype: int64

In [76]:
for a in range(0,5):
    print(((pred_val6[a]*4)+(pred_val5[a]*61)+(pred_val4[a]*54)+(pred_val3[a]*92)+(pred_val2[a]*35)+(pred_val1[a]*53))/299)

0.7857853938993969
0.7837160658158185
0.783469983557231
0.7616134047717588
0.8109081553897607

In [78]:
'''
MultinomialNB = 0.7857853938993969
 DecisionTreeClassifier = 0.7837160658158185
 AdaBoostClassifier = 0.783469983557231
 KNeighborsClassifier = 0.7616134047717588
 RandomForestClassifier = 0.8109081553897607
'''

'\nMultinomialNB = 0.7857853938993969\n DecisionTreeClassifier = 0.7837160658158185\n AdaBoostClassifier = 0.783469983557231\n KNeighborsClassifier = 0.7616134047717588\n RandomForestClassifier = 0.8109081553897607\n'